*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-box{
    min-width: 100%;
    height: 100vh;
    
    /* border: 1px solid red; */
    margin: 0vw;
    padding: 5vw ;
    position:relative; 
    /* position:relative for .prevBtn and .nextBtn position:absolute; */
}

.form-box input, textarea{
    background: #fff8f8;
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: 0.9vw 0;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
}

.form-box textarea{
    height: 15vh;
}