::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e;
}