.search-bar {
    width: 90%;
    padding: 12px 20px;
    border: 1px solid #999999;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10px;
  }
  
  .list-sort {
    width: 30%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #cccccc;
    cursor: pointer;
    margin-left: 60%;
    opacity: 0.7;
  }
  
  .list-sort:hover {
    opacity: 1;
  }